/*************************************************************************************************
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing,
* software distributed under the License is distributed on an
* "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
* KIND, either express or implied.  See the License for the
* specific language governing permissions and limitations
* under the License.
**************************************************************************************************/

// BLACK/WHITE COLORS
$light-grey: #7E8086;
$light-grey-2: #DDD;
$grey: #3E3B3F;
$grey-1: #2C292D;
$grey-2: #211F22;
$grey-3: #1A191B;
$grey-4: #464148;
$black: $grey-1;
$white: #EDEDEC;
$off-white: #BBB;

// OTHER COLORS
/* monokai dark colors */
// $red: #FF6188;
// $green: #A9DC76;
// $yellow: #FFD866;
// $orange: #FC9867;
// $purple: #AB9DF2;
// $blue: #78DCE8;

$red: rgb(255, 0, 64);
$green: #1f9422;
$yellow: #FFD866;
$orange: rgb(255, 132, 50);
$purple: rgb(129, 104, 255);
$blue: rgb(47, 67, 255);

$earth-brown: #5D472E;
$earth-green: #55673B;

$inactive: $light-grey;
$input-box-grey: $grey-4;
$button-light-grey: $light-grey-2;
$error: $red;
$warning: $yellow;
$success: $green;