################################################################################################
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#################################################################################################

# Path information for glm processing
GS_UTIL=gsutil
BASE_PATH=/base/path/
DATA_DIR=data/
CAL_TABLES_DIR=glm_cal_tables/

# Port to use for notification of new event
PUB_CONNECTION=tcp://<hostname>:5666
TRIGGER_TOPIC=trigger.1
STATUS_CONNECTION=tcp://*:5668

# StarFall database credentials
DB_USER=postgres
DB_NAME=postgres
DB_PASSWORD=example_password
DB_HOST=localhost
DB_PORT=5432

# Save results to database
SAVE_TO_DATABASE=True

# SMTP credentials for emailing trigger info
SMTP_SEND=True
SMTP_SERVER=changeme.server.com
# Note: Use port 25 for StarFall-Support and 587 when trying to authenticate
# with an SDL work email for testing purposes
SMTP_PORT=25
SENDER_EMAIL=changeme@website.com
RECEIVER_EMAILS="example_email0@example.com; example_email1@example.com"
# Optional sender password for testing purposes
SENDER_PASSWORD="example_password"