################################################################################################
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#################################################################################################

#################################################
### database connection settings in .env file ###
#################################################

# energy threshold to trigger alert
energyThreshold 0

# mapTileServerURL http://map-server:3002
# mapTileSetName "OpenMapTiles Satellite"
# mapTileSetID 55_med-res-world
# mapTileSetAttribution "© OpenMapTiles © OpenStreetMap contributors"

### The point_source_accessory table column names differ between environments
### The first column is the column name
### The second field in quotes is the label that shows up in the UI
pointSourceColumnNames [
  field_1       "Field 1"
  field_2       "Field 2"
  field_3       "Field 3"
  field_4       "Field 4"
  field_5       "Field 5"
]

# The port and hostname for the server
appHostname   localhost
appPort       8080
# for SSL
# appPort     443

# Certificates
# SSL Certificates allow the server to serve StarFall Viewer using HTTPS
# If commented out StarFall will serve over http
sslCert       /etc/starfall/certs/cert.pem
sslKey        /etc/starfall/certs/key.pem

# not using this value
# subConnection tcp://GLMContainer:1236

# server log file
# Location of the log file where the server will save logs
# logFile       /var/log/starfall/starfall-server.log
logFile       /opt/StarFall/log/starfall-server.log

# server log level
# Level of logging that the server will produce
# [ debug, info, warning, error ]
logLevel      info

# viewer log directory
# Location of the log file where the server will save error logs it receives
#   from connected viewers
# viewerLogDir  /var/log/starfall/starfall-viewer/
viewerLogDir  /opt/StarFall/log/starfall-viewer/

# microservice status servers
# This list contains the Name and Address of the status servers for processing
#   chain components
statusServers [
  GlmTriggerGen        tcp://glmtrigger:5668
]

# status update interval is the frequency in *seconds* that the server will poll
#   the processing chain components for updated status. This is also the
#   interval at which the server will push updated status to connected viewers
statusUpdateInterval  30 

# status timeout duration is the time in *seconds* that the server will wait to
#   receive a response for updated status.
# set to -1 to wait indefinitely
statusTimeoutDuration 32
